<div class="offcanvas-header">
  <h4 class="offcanvas-title" id="offcanvas-basic-title">Canvas</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="offcanvas.dismiss('Cross click')"
  ></button>
</div>
<div class="offcanvas-body">
  <form>
    <div class="container-fluid">
      <div style="padding-bottom: 10px" class="row">
        <div class="col">{{ scaleLabel }}:</div>
        <div class="col">
          <div ngbDropdown container="body">
            <button
              type="button"
              class="btn btn-outline-primary btn-sm"
              ngbDropdownToggle
            >
              {{ currentSelectedScale }}
            </button>
            <div ngbDropdownMenu>
              <button
                (click)="scaleSelectionChange(scale)"
                ngbDropdownItem
                *ngFor="let scale of scaleValues"
              >
                {{ scale }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div style="padding-bottom: 10px" class="row">
        <div class="col">{{ scaleFactorLabel }}:</div>
        <div class="col">
          <div ngbDropdown container="body">
            <button
              type="button"
              class="btn btn-outline-primary btn-sm"
              ngbDropdownToggle
            >
              {{ currentSelectedscaleFactor }}
            </button>
            <div ngbDropdownMenu>
              <button
                (click)="scaleFactorSelectionChange(scaleFactor)"
                ngbDropdownItem
                *ngFor="let scaleFactor of scaleFactorValues"
              >
                {{ scaleFactor }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div style="padding-bottom: 10px" class="row">
        <div class="col">{{ zoomThresholdLabel }}:</div>
        <div class="col">
          <div ngbDropdown container="body">
            <button
              type="button"
              class="btn btn-outline-primary btn-sm"
              ngbDropdownToggle
            >
              {{ currentSelectedzoomThreshold }}
            </button>
            <div ngbDropdownMenu>
              <button
                (click)="zoomThresholdSelectionChange(zoomThreshold)"
                ngbDropdownItem
                *ngFor="let zoomThreshold of zoomThresholdVlues"
              >
                {{ zoomThreshold }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="text-end"></div>
</div>
