<div class="container-fluid">
  <div class="container text-center">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <div class="card" style="width: 18rem">
          <img src="assets/naruto2.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Naruto</h5>
            <p class="card-text">
              Story of a boy who's dream is to become Hokage.
            </p>
            <a href="https://naruto-official.com/en" class="btn btn-primary"
              >Official Page</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="card" style="width: 18rem">
          <img src="assets/onepiece2.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">One Piece</h5>
            <p class="card-text">
              Story of a boy who's dream is to become Pirate King.
            </p>
            <a href="https://one-piece.com/" class="btn btn-primary"
              >Official Page</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="card" style="width: 18rem">
          <img src="assets/bleach2.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Bleach</h5>
            <p class="card-text">
              Story of a boy who's dream is to save everyone..!
            </p>
            <a href="https://bleach-anime.com/en/" class="btn btn-primary"
              >Official Page</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
